name: Test

on:
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"

      - name: Cache Node dependencies
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install Node dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Rebuild SQLite3 Bindings
        run: npm rebuild sqlite3    

      - name: Run Unit Tests
        run: npm run test